Dictionaries store key-value pairs and are indexed by keys. Keys must be unique, but values do not need to be unique

In [13]:
import pandas as pd
import numpy as np

In [14]:
# Create a dictionary
dict1 = {'key1':12121,'key2':'orange','key3':34343}

In [15]:
dict1['key1']

12121

In [16]:
# Adding things to dictionary
dict1['key4']='focus'

In [17]:
dict1

{'key1': 12121, 'key2': 'orange', 'key3': 34343, 'key4': 'focus'}

In [18]:
dict1.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [19]:
dict1.values()

dict_values([12121, 'orange', 34343, 'focus'])

In [20]:
# Create a dataframe from dictionary
df = pd.DataFrame({'col1':[3,4,5,6,6],'col2':[6,7,8,9,4]})

In [21]:
df

   col1  col2
0     3     6
1     4     7
2     5     8
3     6     9
4     6     4

In [22]:
# Rename column names
df.rename(columns = {'col1':'Venus','col2':'Mercury'})

   Venus  Mercury
0      3        6
1      4        7
2      5        8
3      6        9
4      6        4

In [29]:
# Create a DataFrame from numpy ndarray
d = np.array([[1,2,3],[4,5,6],[7,8,9]])
df2 = pd.DataFrame(d,columns = ('a','b','c'),index = [1,2,3])

In [30]:
df2

   a  b  c
1  1  2  3
2  4  5  6
3  7  8  9